REDDIT_USERNAME = ''
REDDIT_PASSWORD = ''
REDDIT_CLIENT_ID = ''
REDDIT_CLIENT_SECRET = ''
REDDIT_USER_AGENT = ''
NEWSBLUR_USERNAME = ''
NEWSBLUR_PASSWORD = ''
PINBOARD_KEY = ''
PINBOARD_USERNAME = ''
PINBOARD_PASSWORD = ''
